settings.json
tests*/__pycache__/
tests/resources/**/__pycache__/
tests/downloads
.vscode/
copernicusmarine/**/__pycache__/
**/.aliases
**/.DS_Store
__debug.py
dist/
.tox/

# Sphinx documentation html build
doc/_build/

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/
