settings.json
tests/downloads/
.vscode/
**/.aliases
**/.DS_Store
__debug.py
dist/

# Python cache files
**/__pycache__/

# Sphinx documentation html build
doc/_build/

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# asdf
.tool-versions

# Local configuration files
.history
