# Documentations
# https://io-wiki.mercator-ocean.fr/public/software/howtos/automated-check-and-format
# https://pre-commit.com/
exclude: 'copernicusmarine/__init__.py|demos/'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-added-large-files
        exclude: ^(doc/usage/)
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: check-xml
      - id: check-toml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: setup.cfg
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest-test-first]
        exclude: ^(tests/resources/|tests/scripts)
      - id: pretty-format-json
        exclude: ^(doc/usage/quickoverview.ipynb|doc/usage/subset_using_polygons.ipynb|doc/usage/stereo_subset.ipynb)
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "79"]
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        exclude: ^(tests/resources/|copernicusmarine/command_line_interface/copernicus_marine.py)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        additional_dependencies: [types-requests==2.27.11, types-pyyaml==6.0.5, types-toml==0.10.8.20240310, types-python-dateutil==2.9.0.20241206]
