name: Run tests binaries windows

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "release/**"
      - "pre-releases/**"
  pull_request_target:
    branches:
      - "main"
    paths:
      - 'pyproject.toml'

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 20

    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: mamba-org/setup-micromamba@v1
      with:
        micromamba-version: '1.5.6-0'
        micromamba-binary-path: ${{ runner.temp }}\Scripts\micromamba.exe
        environment-file: conda_environment_binary.yaml
        environment-name: copernicusmarine-binary
        condarc-file: .condarc
        cache-environment: true
        post-cleanup: 'all'

    - name: Build with PyInstaller
      shell: bash -el {0}
      run: |
        make run-using-pyinstaller-windows-latest

    - name: Run tests
      env:
        COPERNICUSMARINE_SERVICE_USERNAME: ${{ secrets.COPERNICUSMARINE_SERVICE_USERNAME }}
        COPERNICUSMARINE_SERVICE_PASSWORD: ${{ secrets.COPERNICUSMARINE_SERVICE_PASSWORD }}
        BINARY_NAME: "./dist/copernicusmarine.exe"
      run: make run-tests-binaries
      shell: bash -el {0}
