name: Check format

on:
  push:
    branches:
      - main
      - copernicusmarine-toolbox-v2
  pull_request:

jobs:
  check-format:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: mamba-org/setup-micromamba@v1
        with:
          micromamba-version: '1.5.6-0'
          micromamba-binary-path: ${{ runner.temp }}/bin/micromamba
          environment-file: conda_environment.yaml
          environment-name: copernicusmarine
          condarc-file: .condarc
          cache-environment: true
          post-cleanup: 'all'

      - name: Poetry install
        run: poetry install
        shell: micromamba-shell {0}

      - name: Check format
        run: make check-format
        shell: micromamba-shell {0}
