name: Run tests

on:
  pull_request_target:
    branches:
      - "main"
      - "release/**"
      - "pre-releases/**"


jobs:
  tests:
    runs-on: self-hosted
    timeout-minutes: 30
    env:
      ACTIONS_STEP_DEBUG: true

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v5
        with:
            python-version: '3.13'
      - name: Check Python version
        run: |
          python --version
          python3.13 --version
          which python
          which python3.13
      - name: Install and configure Poetry
        run: |
          python3.13 -m pip install poetry
          which poetry

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        run: |
          sudo apt install build-essential -y
          python3.13 -m poetry install --no-interaction --no-root
      - name: Install ncdump dependency
        run: sudo apt-get install netcdf-bin
      - name: Install library
        run: python3.13 -m poetry install --no-interaction --with dev
      - name: Run tests
        env:
          COPERNICUSMARINE_SERVICE_USERNAME: ${{ secrets.COPERNICUSMARINE_SERVICE_USERNAME }}
          COPERNICUSMARINE_SERVICE_PASSWORD: ${{ secrets.COPERNICUSMARINE_SERVICE_PASSWORD }}
        run: |
          source .venv/bin/activate
          make run-tests
